<!DOCTYPE html>
<html>

  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">

  </head>

  <body>

    <p id="display"><p id="temperature"></p>&#x2103;</p>

    <button id="upButton" class="button">UP</button>
    <button id="downButton" class="button">DOWN</button>
    <button id="resetButton" class="button">RESET</button>
    <label><input type="checkbox" id="powersaver" class="onoffswitch" checked="true">Power Saving Mode</input></label>
    <select id="cityList">
      <option value="london">London</option>
      <option value="paris">Paris</option>
    </select>
    <form id="citySearchForm">
      <input id="citySearch" type="text" name="city" placeholder="Search Cities">
      <input type="submit" value="Search">
    </form>


    <div id="cityWeather"></div>

  </body>

  <script type="text/javascript" src="javascript/Thermostat.js"></script>
  <script type="text/javascript" src="javascript/app.js"></script>

  <script></script>


</html>
